# Ignore database files
*.db

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore output files
*.csv
*.jpg

# Ignore PyInstaller build and dist directories
scripts/gui/build/
scripts/gui/dist/


